.swiper-button-next,
.swiper-button-prev {
  color: #f97316;
  padding: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #f97316;
  transform: scale(1.2);
}

.scroll-bar-style::-webkit-scrollbar {
  display: none;
}
